In [ ]:
#Dataset from Kaggle: https://www.kaggle.com/joniarroba/noshowappointments

In [3]:
import pandas as  pd

In [4]:
df= pd.read_csv('datasets_noshows.csv')

In [5]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [6]:
#Check for null values
df.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [7]:
#Select input features
data = df.loc[:,['Gender','Age','Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism','Handcap', 'SMS_received' ]]

In [8]:
data.head()

,Gender,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,F,62,0,1,0,0,0,0
1,M,56,0,0,0,0,0,0
2,F,62,0,0,0,0,0,0
3,F,8,0,0,0,0,0,0
4,F,56,0,1,1,0,0,0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Gender        110527 non-null  object
 1   Age           110527 non-null  int64
 2   Scholarship   110527 non-null  int64
 3   Hipertension  110527 non-null  int64
 4   Diabetes      110527 non-null  int64
 5   Alcoholism    110527 non-null  int64
 6   Handcap       110527 non-null  int64
 7   SMS_received  110527 non-null  int64
dtypes: int64(7), object(1)
memory usage: 6.7+ MB

In [10]:
#rename columns
data.rename(columns ={'Hipertension': 'Hypertension', 'Handcap':'Handicap'})

,Gender,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received
0,F,62,0,1,0,0,0,0
1,M,56,0,0,0,0,0,0
2,F,62,0,0,0,0,0,0
3,F,8,0,0,0,0,0,0
4,F,56,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...
110522,F,56,0,0,0,0,0,1
110523,F,51,0,0,0,0,0,1
110524,F,21,0,0,0,0,0,1
110525,F,38,0,0,0,0,0,1
110526,F,54,0,0,0,0,0,1

In [11]:
#encode Gender column
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder.fit(data['Gender'])
data['Gender']= encoder.fit_transform(data['Gender'])

In [12]:
data.head()

,Gender,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,0,62,0,1,0,0,0,0
1,1,56,0,0,0,0,0,0
2,0,62,0,0,0,0,0,0
3,0,8,0,0,0,0,0,0
4,0,56,0,1,1,0,0,0

In [13]:
x= data

In [26]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_x = scaler.fit_transform(x)

In [27]:
#Select target column
y = df['No-show']

In [28]:
y.value_counts()

No     88208
Yes    22319
Name: No-show, dtype: int64

In [29]:
#Encode target column
encoder1 = LabelEncoder()
encoder1.fit(y)
y= encoder1.fit_transform(y)

In [30]:
y

array([0, 0, 0, ..., 0, 0, 0])

In [32]:
#split into training, test and validation sets
from sklearn import datasets
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
x_train, x_t, y_train, y_t = train_test_split(scaled_x, y,test_size=0.2)
x_test, x_val, y_test, y_val = train_test_split(x_t, y_t, test_size =.5)

In [36]:
from sklearn.ensemble import RandomForestClassifier 
model = RandomForestClassifier(n_estimators= 25, 
criterion='gini')
model.fit(x_train, y_train)

y_pred = model.predict(x_test)

score = model.score(x_test,y_test)
print(score)

0.7960734642178594

In [37]:
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[8755   84]
 [2170   44]]